<?xml version="1.0" encoding="utf-8"?>
<!--

This source file is part of the ENGAGE-HF Android open-source project



SPDX-FileCopyrightText: 2025 Stanford University and the project authors (see CONTRIBUTORS.md)



SPDX-License-Identifier: MIT

-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name="edu.stanford.spezi.testing.ui.ComposeContentActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:exported="true"  />
    </application>
</manifest>
